
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/context-art-classification.iml
.idea/workspace.xml
*.pyc
Models/Reduce/reduce_128_best_model.pth.tar
